.layout {
  min-height: 100vh;
}

.logo {
  color: whitesmoke;
  height: 64px;
  margin: 0;
  margin-right: 18px;
  float: left;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 20px;
}

.avatar{
  width: 4rem;
  height: 4rem;
  border-radius:0 ;
}

.ant-card-meta-title{
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 24px;
}

.job-subtitle{
  display: block;
  margin: 0;
  margin-left: 8px;
}

.job-logo{
  width: 5rem;
  height: auto;
}

.content{
  margin-top: 2rem;
}